{% comment %}
ZMIENNE:
    signed - nazwa zalogowanego uzytkownika
{% endcomment %}
{% load staticfiles %}
<!--Top bar -->
<div class="container-fluid">
    <div class="cover-image">
        <img src="{% static 'img/banner-clouds.png' %}" class="img-responsive" alt="Clouds banner">
    </div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NAWIA 1.1</a>
                <p class="navbar-text">
                                {% if signed %}
                                Signed in as {% block signed %}The Beetle Conqueror{% endblock %}
                                {% else %}
                                 Please sign in
                                {% endif %}
                </p>
            </div>
            {% if signed %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="student/account">Edit account</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Studies <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Buy diploma</a></li>
                            <li><a href="#">Sell marks</a></li>
                            <li><a href="#">Become ninja</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Save progress</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Load progress</a></li>
                        </ul>
                    </li>
                    <li><a href="/student/logout#">Log out</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
            {% endif %}
        </div><!-- /.container-fluid -->
    </nav>
</div> 
<!--/Top bar -->
