{% extends "base.html" %}

{% block sidebar %}
    {% include "student/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    <div class="panel panel-default">
    <!-- Default panel contents -->
        <div class="panel-heading"><h3>List of thesis topics</h3></div>
{% if topic_list %}
        <div class="panel-body">
            <p>List description</p>
        </div>
      
        <!-- Table -->
        <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Keywords</th>
            <th>Students limit</th>
          </tr>
        </thead>
        <tbody>
        {% for thesisTopic in topic_list %}
          <tr>
            <td>1</td>
            <td><a href="list/preview/{{thesisTopic.id}}">{{ thesisTopic.title }}</a></td>
            <td>{{ thesisTopic.author }}</td>
            <td>{% for keywords in thesisTopic.keywords.all %}{{ keywords }} {% endfor %}</td>
            <td>{{ thesisTopic.coworkersLimit }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
        {% else %}
<div class="panel-body">
            <p>No thesis topics in database.</p>
        </div>  
        {% endif %}
    </div>
{% endblock content %}