{% extends "base.html" %}

{% block sidebar %}
    {% include "student/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    <div class="row">
        <div class="col-md-2"><h2><b>Title: </b></h2></div>
        <div class="col-md-10"><h2>{{ thesis_topic.title }}</h2></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h5><b>Keywords: </b></h5></div>
        <div class="col-md-10"><h5>{% for keywords in thesis_topic.keywords.all %}{{ keywords }} {% endfor %}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h4><b>Author: </b></h4></div>
        <div class="col-md-10"><h4>{{ thesis_topic.author }}</h4></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h4><b>Description: </b></h4></div>
        <div class="col-md-10"><h4>{{ thesis_topic.description }}</h4></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h4><b>Students limit: </b></h4></div>
        <div class="col-md-10"><h4>{{ thesis_topic.coworkersLimit }}</h4></div>
    </div>
    <br />
    <a href="/student/list" class="btn btn-default" role="button">Back</a>
    
{% endblock %}