<div class="list-group" ng-controller="SideBarCtrl">
    <a href="/student/home" class="list-group-item active">Student's view</a>
    <a href="/student/list" class="list-group-item btn-inverse">List of all topics <span class="badge">120</span></a>
    <a href="/student/observed" class="list-group-item btn-inverse">Observed topics <span class="badge">3</span></a>
    <div class="nested hide">
        <a href="#" class="list-group-item btn-inverse">Contact advisor</a>
        <a href="#" class="list-group-item btn-inverse">Remove from observed</a>
        <a href="#" class="list-group-item btn-inverse">Assign for selected</a>
        <a href="#" class="list-group-item btn-inverse">Add advisor to observed</a>
    </div>
    <a href="/student/applied" class="list-group-item btn-inverse">List of applied</a>
    <a href="/student/assigned" class="list-group-item btn-inverse">Assigned topics</a>
    <div class="nested hide">
        <a href="#" class="list-group-item btn-inverse">Contact advisor</a>
        <a href="#" class="list-group-item btn-inverse">Work schedule</a>
        <a href="#" class="list-group-item btn-inverse">Attach files</a>
        <a href="#" class="list-group-item btn-inverse">Preview reviews</a>
    </div>
</div>